*{
    box-sizing:  border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
}
.holder{
    margin: 0;
    display: grid;
    grid-template-columns: auto;    
    min-height: 100%;   
    grid-template-rows: .2fr 3fr .25fr; 
    
}
.header-background{
    grid-column: 1/-1;
    grid-row: 1;
    margin:  0;
}
.header{    
    font-size:3rem;
    background-image: url("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=953&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: 2px 2px 6px 2px rgb(59, 59, 0) ;
    margin: 0;
    padding: 0 0 8vh;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
.header-message{
    font-size: 5rem;
    text-align: left;
    padding: 0;
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px #2e270a;
    margin: 0;
    padding: 5vh 0 0 2vh;
}

footer{
    grid-column: 1/-1;
    grid-row: 3;   
    background-color: rgba(218, 182, 25, 0.795);
    box-shadow: 2px 2px 8px 2px rgb(59, 59, 0) ;
    padding: 3% 0;   
    text-align: center;    
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{    
    font-size: 1.5rem;
    text-align: center;
}
@media only screen and (min-width: 300px) and (max-width: 500px){
    .header{
        height: 10vh;
        padding: 4vh 0 0;
        margin-bottom: 3vh;      
    }
    .header-message{
        text-align: right;
        margin-top: 0;
        padding: 0 2vh ;
        font-size: 1.75rem;
    } 
    .footer{    
        font-size: 1rem;
        text-align: center;
    }
 }
 @media only screen and (min-width: 501px) and (max-width: 1024px){
    .header{
        height: 10vh;
        padding: 0;        
    }
    .header-message{
        padding-top: 1vh;
        font-size: 3rem;
    }    
 }
 @media only screen and (min-width: 1024px) and (max-width: 1440px){
    .header{
        height: 10vh;
        padding: 0 0 8vh;       
    }
    .header-message{
        padding-top: 1vh;
        font-size: 3rem;
    }    
 }

 